<app-nav-bar></app-nav-bar>
<div id="allData">
  <div class="row">
    <div class="col-11"></div>
    <div id="btnDiv" class="col-1">
      <button id="deleteBtn" (click)="emptyAll()">
        <div class="row">
          <div class="col-6">Empty</div>
          <div id="icon" class="col-6">
            <i-feather name="trash" style="width: 20px;"></i-feather>
          </div>
        </div>
      </button>
    </div>
  </div>

  <div class="row">
    <div class="col-4" *ngFor="let student of data | reverse">
      <app-one-student [student]="student"></app-one-student>
    </div>
  </div>
</div>
