<app-nav-bar></app-nav-bar>
<div id="allData">
  <div class="row">
    <div class="col-xs-6 col-sm-6 col-md-10 col-lg-11"></div>
    <div
      id="btnDiv"
      class="col-xs-6 col-sm-6 col-md-2 col-lg-1"
      (click)="emptyAll()"
    >
      <button id="deleteBtn">
        <div class="row">
          <div class="col-6">Empty</div>
          <div id="icon" class="col-6">
            <i-feather name="trash" style="width: 20px;"></i-feather>
          </div>
        </div>
      </button>
    </div>
  </div>

  <div class="row">
    <div
      class="col-lg-4 col-md-6 col-sm-12"
      *ngFor="let student of data | reverse"
    >
      <app-one-student [student]="student"></app-one-student>
    </div>
  </div>
</div>
