<div class="container">
  <div id="rowIcon" class="row">
    <div class="col-10"></div>
    <div class="col-2">
      <div id="icon" (click)="deleteItem(student.user_id)">
        x
        <!-- <picture>
          <img
            src="../../../assets/trash.png"
            alt="delete"
            style="width: 20px;"
          />
        </picture> -->
      </div>
    </div>
  </div>
  <div id="data">
    <div class="row" id="names">
      <div class="col-6">
        <div id="username">{{ student.user_name }}</div>
      </div>
      <div class="col-6">
        <div id="pair">{{ student.pair }}</div>
      </div>
    </div>
  </div>
  <button id="zoom" (click)="zoomLink()">
    open zoom
  </button>
</div>
